<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>社員一覧</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>社員一覧</h1>
	<form method="post" action="employee_detail">
		<table border="1">
			<tr>
				<th>No</th>
				<th>氏名</th>
				<th>出身地</th>
				<th>入社月</th>
			</tr>
			<tr th:each="employee : ${employeesList}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.hometown}"></td>
				<td th:text="${employee.joiningMonth}"></td>
				<td><button type="submit" name="selectId" th:value="${employee.id}">詳細</button></td>
			</tr>
		</table>
	</form>
	<button onclick="location.href='employee_new'">新規登録へ</button>
</body>